/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*************************/
/* General Component */
/*************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*************************/
/* Reusable Component */
/*************************/

.container {
  margin: 0 auto;
  padding: 3.2rem 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn:active,
.btn:hover {
  color: antiquewhite;
}

.header {
  margin: 2rem;
  font-size: 2.5rem;
  line-height: 1.3;
  text-align: center;
}

/************************/
/* HERO SECTION */
/************************/

.hero-nav {
  padding: 1.8rem 1.8rem 1.6rem 1.6rem;
  display: flex;
  justify-content: space-between;
}

.nav-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav-links {
  color: #343a40;
  font-weight: 700;
}

.hero {
  max-width: 120rem;
  background-color: #fff9db;
}

.hero-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-page-img {
  justify-self: center;
}

.page-img {
  margin: 0;
  padding: 0;
  width: 50rem;
  height: 50rem;
}

.hero-header {
  color: #343a40;
  text-align: start;
}

.hero-page-text {
  margin: 6rem 2rem 2rem 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

/************************/
/* news SECTION */
/************************/
.news {
  display: grid;
  background-color: #212529;
  grid-template-columns: repeat(2, 1fr);
}

.news-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  margin: 3rem;
}
.news-img-box {
  width: 100%;
  height: 10rem;
}

.news-header {
  margin: 5rem 0rem 3rem 0rem;
  color: #fff;
  font-size: 2.4rem;
  font-family: 700;
}

.news-text {
  padding: 2rem;
  font-size: 1.6rem;
  color: #fff;
}

/************************/
/* PRODUCT SECTION */
/************************/

.product {
  max-width: 120rem;
  padding: 3rem;
  background-color: #fff9db;
}

.product-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  padding: 0rem 15rem 0rem 15rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem 3rem;
  column-gap: 3rem;
  row-gap: 3rem;
}

.box-product {
  place-items: center;
  overflow-x: hidden;
}
.product-img {
  overflow: hidden;
}

.product-img img {
  display: block;
  width: 100%;
  height: 20rem;
  transition: all 0.4s;
}

.product-img img:hover {
  transform: scale(1.1);
}

.product-name {
  margin: 1.8rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.product-price {
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.product-details p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.product-link:link,
.product-link:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 1.2rem;
  transition: all 0.4s;
  color: #343a40;
  border-radius: 95px;
  border: solid;
}

.product-link:active,
.product-link:hover {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
  padding: 1.2rem;
  border-radius: 95px;
  border: solid;
}

.qoute {
  max-width: 120rem;
  height: 20rem;
  margin: 0 auto;
  background-color: #212529;
}

.qoute-box {
  display: flex;
}

.qoute-img {
  max-width: 30rem;
  height: 98%;
}

.qoute-text {
  font-style: italic;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 2rem;
}

.qoute-author {
  color: #fff;
  font-size: 1.6rem;
  margin: 3rem 2rem;
}
